extends ./layout/index

block contenido
    main.container.mt-5
        .row
            .col-md-5
                img(src="img/nosotros.jpg", alt="imagen sobre nosotros", class="img-fluid")
            .col-md-7
                h1= pagina
                blockquote Aenean feugiat urna a neque semper convallis eget a mi. Interdum et malesuada fames ac ante ipsum primis in faucibus. Nulla ac tincidunt felis. Phasellus porta commodo bibendum. Curabitur ornare posuere lectus non aliquam. Cras semper neque a tincidunt finibus. Nam ac lacus non nunc feugiat blandit. Phasellus malesuada est sit amet odio semper, eu vulputate ligula elementum.

                p Donec ut diam et justo tempor varius. Integer eu est sed tellus ultricies mattis. Pellentesque posuere, ex quis interdum mattis, sapien ante tristique ex, a tincidunt est libero eget nulla. Aliquam erat volutpat. Donec iaculis, tortor quis mollis feugiat, mauris diam faucibus tellus, ac finibus leo diam ut diam. Suspendisse potenti.

                p Suspendisse magna sem, rutrum non facilisis nec, dignissim vel eros. Quisque metus libero, auctor sed maximus vitae, posuere vitae mauris. Proin velit diam, ultrices venenatis neque nec, commodo imperdiet mi. Etiam aliquam enim ac libero gravida commodo.
    
    .listado-iconos
        .container.mt-5.py-5.text-center 
            .row 
                .col-md-4
                    img(src="img/icono_seguridad.svg", alt="icono seguridad", class="img-fluid mb-4")
                    h2.mb-4 Seguridad 
                    p Proin velit diam, ultrices venenatis neque nec, commodo imperdiet mi. Etiam aliquam enim ac libero gravida commodo.

                .col-md-4
                    img(src="img/icono_destinos.svg", alt="icono destinos", class="img-fluid mb-4")
                    h2.mb-4 Los Mejores Destinos 
                    p Proin velit diam, ultrices venenatis neque nec, commodo imperdiet mi. Etiam aliquam enim ac libero gravida commodo.

                .col-md-4
                    img(src="img/icono_precios.svg", alt="icono precios", class="img-fluid mb-4")
                    h2.mb-4 Los Mejores Precios 
                    p Proin velit diam, ultrices venenatis neque nec, commodo imperdiet mi. Etiam aliquam enim ac libero gravida commodo.